@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display=4">Administração da Biblioteca</h1>
    <p>Salve, edite e exclua toda informação de livros emprestados </p>
     <img src="/img/book.jpg"<div class="w-50">
       
</div>
</div>
